
<section id="title" class="emerald">
       <div class="container">
           <div class="row">
               <div class="col-sm-6">
                 <h1>
                   <%= @event.name %></h1>
                 </p>
                   <p> Organizador: <%=@users.find(@event.owner).name %></p>
                   <p>Valor total:R$<%= @event.cost %> </p>
                   <% if user_signed_in? %>
                      <% if @current_user.position == "Goleiro" %>
                          <% if @event.isFulGoal %>
                            <p>
                              não há vagas
                            </p>
                            <% else %>
                            <p> Há <%= @event.goalkeeperlimit - @event.numberOfUsers("Goleiro") %> Vagas para Goleiro</p>
                          <% end %>
                        <% else %>
                        <% if @event.isFul %>
                          <p>
                            não há vagas
                          </p>
                          <% else %>
                          <p> Há <%= @event.userlimit - @event.numberOfUsers("Linha") %> Vagas</p>
                        <% end %>
                      <% end %>
                   <% end %>
               </div>
               <div class="col-sm-6 ">
                 <br><br>
                 <br>
                 
                  <p>
                    <%= @event.adress %>
                    <p>Dia: <%=@event.date.to_formatted_s(:short) %>
                       às <%=@event.hour.to_formatted_s(:time)%></p>
                  </p>

               </div>
           </div>
       </div>
   </section>
