
<hr>
<p id="notice"><%= notice %></p>

<table class="table">
  <caption><strong>Escalação dos confirmados </strong></caption>
   <thead>
      <tr>
        <th>Posição</th>
        <th>Nome</th>
       </tr>
     </thead>
     <%@event.users.each do |p|%>
    <tbody>
      <tr>
       <th scope="row"><%=@users.find(p.id).position%></th>
        <td><%=@users.find(p.id).name%></td>
        <% if user_signed_in? and current_user.id== @event.owner%>
        <td> <%= link_to "#{@event.id}/unsubscribe/#{p.id}", method: :put do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
        <% end %></td>
       </tr>
      </tbody>
      <% end %>
</table>
<%= render 'events/buttons' %>
