<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->-


<table class="table">

  <caption><strong>Escalação dos confirmados </strong></caption>
   <thead>
      <tr>
        <th>Posição</th>
        <th>Nome Da Galera</th>

        <tr>
     </thead>
     <tbody>
     <%@event.users.each do |p|%>
         <th scope="row"><%=@users.find(p.id).position%></th>
          <td><%=@users.find(p.id).name%></td>
            <% if user_signed_in? and current_user.id== @event.owner and p.id != @event.owner%>
          <td> <%= link_to "#{@event.id}/unsubscribe/#{p.id}",  title: 'Clique para apagar', 'data-toggle' => 'tooltip', 'data-placement' => 'right', method: :put, data: { confirm: 'Tem certeza que quer excluir o coleguinha?' } do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
        <% end %></td>
       </tr>
      </tbody>
      <% end %>
</table>
<div class="row">
  <div class="col-md-3 col-md-offset-4  ">
    <%= render 'events/buttons' %>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="well well-lg">
        <div class="class-md-3 col-sd-3">
          <h1 >
            Endereço:
          </h1>
        </div>
      </div>
  </div>
  <div class="row">
    <div class = "class-md-3 col-sd-3">
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
  </div>
</div>
<hr>
<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
