<!DOCTYPE html>
<html>
<head>
  <title>Web Racha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>

     <% if request.original_url.split('/')[-2]=="events" and request.original_url.split('/')[-1].to_i != 0%>
       <!-- true -->
       <%= render 'events/where' %>
     <% end %>
     <% if request.original_url[-1] != "/" %>
     <%= render partial: "layouts/flash_messages", flash: flash %>
     <% end %>
    <%= yield %>

  <!--/#bottom-->

<%= render 'layouts/footer' %>
</body>
</html>
